
/* .ruler {
  position: relative;
}

.ruler-mark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ruler-mark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 1px;
  background-color: black;
} */
